/* CSS file defining seamless glossy style */

Application {
   backgroundColor: #fff9d9;
   backgroundGradientColors: #E2D4B3, #DBFCB7;
   backgroundGradientAlphas: 1.0, 1.0;
   themeColor: #093268;
   font-size: 11;
}

ApplicationControlBar {
   highlightAlphas: 0.42, 0.2;
   fillAlphas: 1.0, 1.0;
   fillColors: #FFFFFF, #E2D4B3;
   backgroundColor: #fff9d9;
   backgroundAlpha: 0.06;
   cornerRadius: 5;
   dropShadowEnabled: false;
   padding-left: 10;
   padding-right: 10;
}

Button {
	upSkin: Embed(source="/img/icons/seamless-rounded-button-up.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	disabledSkin: Embed(source="/img/icons/seamless-rounded-button-up-disabled.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	selectedDisabledSkin: Embed(source="/img/icons/seamless-rounded-button-up-disabled.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	downSkin: Embed(source="/img/icons/seamless-rounded-button-down.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	overSkin: Embed(source="/img/icons/seamless-rounded-button-up-highlighted.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	selectedUpSkin: Embed(source="/img/icons/seamless-rounded-button-up-highlighted.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	selectedOverSkin: Embed(source="/img/icons/seamless-rounded-button-up-highlighted.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	selectedDownSkin: Embed(source="/img/icons/seamless-rounded-button-down-highlighted.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
}


Button.primary {
	upSkin: Embed(source="/img/icons/seamless-rounded-button-up.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	disabledSkin: Embed(source="/img/icons/seamless-rounded-button-up-disabled.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	selectedDisabledSkin: Embed(source="/img/icons/seamless-rounded-button-up-disabled.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	downSkin: Embed(source="/img/icons/seamless-rounded-button-down.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	overSkin: Embed(source="/img/icons/seamless-rounded-button-up-highlighted.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	selectedUpSkin: Embed(source="/img/icons/seamless-rounded-button-up-highlighted.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	selectedOverSkin: Embed(source="/img/icons/seamless-rounded-button-up-highlighted.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	selectedDownSkin: Embed(source="/img/icons/seamless-rounded-button-down-highlighted.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
}

Button.secondary {
	upSkin: Embed(source="/img/icons/seamless-rounded-button-up.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	disabledSkin: Embed(source="/img/icons/seamless-rounded-button-up-disabled.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	selectedDisabledSkin: Embed(source="/img/icons/seamless-rounded-button-up-disabled.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	downSkin: Embed(source="/img/icons/seamless-rounded-button-down.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	overSkin: Embed(source="/img/icons/seamless-rounded-button-up-highlighted.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	selectedUpSkin: Embed(source="/img/icons/seamless-rounded-button-up-highlighted.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	selectedOverSkin: Embed(source="/img/icons/seamless-rounded-button-up-highlighted.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
	selectedDownSkin: Embed(source="/img/icons/seamless-rounded-button-down-highlighted.png", scaleGridRight="17", scaleGridLeft="16", scaleGridTop="16", scaleGridBottom="17");
}